<div class="row">
	<div class="col-sm-4 col-md-4">
		<a href="#" ng-click="LoadFacturas()" class="btn btn-warning col-lg-5 col-md-5">Recargar datos</a><br>
	</div>
	<div class="col-sm-8 col-md-8">
		<div class="panel panel-success">
			<div class="panel-heading">Balance general</div>
			<div class="panel-body">
				<ul>
					<li>Total de facturas: {{general.TotalFacturas}}
					<li>Total pagado: {{general.TotalPagado | currency:"₡"}}
					<li>Total adeudado: {{general.TotalAdeudado | currency:"₡"}}
					<li>Total facturado: {{general.TotalFacturado | currency:"₡"}}
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Emisor</th>
				<th>Cliente</th>
				<th>Fecha</th>
				<th>Pagado</th>
				<th>Total</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
		<tr ng-repeat="f in ListaFacturas">
				<td>{{f.emisor}}</td>
				<td>{{f.cliente}}</td>
				<td>{{f.fecha}}</td>
				<td>{{f.TotalPagado | currency:"₡"}}</td>
				<td>{{f.TotalFactura | currency:"₡"}}</td>
				<td><a href="#view" ng-click="AbrirFactura(f._id.$id)">Abrir</a></td>
				<td><span class="label label-danger" ng-show="f.anulada">Anulada</span>
						<span class="label label-success" ng-show="f.TotalPagado >= f.TotalFactura">Pagada</span>
				</td>
		</tr>
		</tbody>
	</table>
</div>
